.well{
	background-color: #233233;
	border:2px solid #2B3E50;
}
.orderentry select{
	color:black;
	width:100%;
	display: inline;
}
.orderentry label{
	padding-right: 30px;
	padding-left: 30px;
}
.orderentry legend{
	border-bottom: 1px white solid;
}
.orderentry ul{
	list-style-type: none;
	margin:0;
	background-color:#233233;
	opacity: 0.8;
}
.orderentry li{
	display: inline-block;
}
.orderentry ul li button{
	border-radius:20px;
	height: 40px;
}
.orderentry tr button{
	padding:0px 10px;
}
.heading{
	height: 50px;
	border-bottom: 2px white solid;
}
.heading span{
	padding: 0px;
}
