			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<span class="navbar-brand" href="#">List of Products</span>
				<span class="navbar-brand">
				<input type="search" placeholder="search products" class="form-control"/>
				</span>
				<ul class="nav navbar-nav pull-right">
					<li><a href="#/createProduct">
					<button class="btn btn-primary">Create Product</button>
					</a>
					</li>
				</ul>
			</nav>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>S.No.</th>
							<th>ProductID</th>
							<th>Product Name</th>
							<th>Stock Available</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
         					<td>0822IT111086</td>
        					<td>Bajaj Fans</td>
							<td>5000</td>
						</tr>
					</tbody>
				</table>
			</div>
