<div class="col-md-12 panel panel-success">
			<div class="panel-heading">
				List of Products
				<a href="#/createProduct">
					<button class="btn btn-info pull-right">Create Product</button>
				</a>
			</div>
			<div class="table-responsive panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>S.No.</th>
							<th>ProductID</th>
							<th>Product Name</th>
							<th>Stock Available</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
         					<td>0822IT111086</td>
        					<td>Bajaj Fans</td>
							<td>5000</td>
						</tr>
					</tbody>
				</table>
			</div>
