<form role="form">
	<legend>Customer</legend>

	<div class="form-group">
		<label for="">Customer</label>
		<select name="" id="input" class="form-control" required="required">
			<option value="Origin">Origin Ltd</option>
		</select>
	</div>
		<center><blockquote>Or</blockquote></center>
	<div class="form-group">
		<a href="#/createCustomer"><button class="btn btn-success">Create Customer</button></a>	
	</div>
	<a href="#/selectProduct">
	<button type="submit" class="btn btn-primary">Next!</button></a>
</form>