<form class="well"  role="form">
	<legend>Create Product</legend>
	<div class="form-group">
		<label for="">Product Name:</label>
		<input type="text" class="form-control" placeholder="Product name">
	</div>
	<div class="form-group">
		<label for="">Brand:</label>
		<input type="text" class="form-control" placeholder="Product Brand">
	</div>
	<div class="form-group">
		<label for="">Stock:</label>
		<input type="text" class="form-control"  placeholder="Product Stock">
	</div>

	<button type="submit" class="btn btn-primary">Add Product!</button>
</form>