			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<span class="navbar-brand" href="#">List of Customers</span>
				<span class="navbar-brand">
				<input type="search" id="input" placeholder="Search Customers" class="form-control"/>
				</span>
				<ul class="nav navbar-nav pull-right">
					<li><a href="#/createCustomer">
					<button class="btn btn-primary">Create Customer</button>
					</a>
					</li>
				</ul>
			</nav>

<ul class="cards">
	<li><span class="close"></span>Origin Ltd</li>
	<li><span class="close"></span>Hexaware Pvt. Ltd</li>
	<li><span class="close"></span>Atoz Pvt. Ltd</li>
	<li><span class="close"></span>Maxmax Pvt. Ltd</li>
</ul>