			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<span class="navbar-brand" href="#">List of Customers</span>
				<span class="navbar-brand">
				<input type="search" id="input" placeholder="Search Customers" class="form-control"/>
				</span>
				<ul class="nav navbar-nav pull-right">
					<li><a href="#/createCustomer">
					<button class="btn btn-primary">Create Customer</button>
					</a>
					</li>
				</ul>
			</nav>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>S.No.</th>
				<th>Name</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Origin Ltd.</td>
				<td>B-104 indore</td>
			</tr>
		</tbody>
	</table>
</div>