<ul class="cards">
<li><span class="close"></span>yashdeep</li>
<li><span class="close"></span>rahul</li>
<li><span class="close"></span>ravi</li>
<li><span class="close"></span>yashdeep</li>
<li><span class="close"></span>rahul</li>
<li><span class="close"></span>ravi</li>
<li><span class="close"></span>yashdeep</li>
<li><span class="close"></span>rahul</li>
<li><span class="close"></span>ravi</li>
<li><span class="close"></span>yashdeep</li>
<li><span class="close"></span>rahul</li>
<li><span class="close"></span>ravi</li>
</ul>