<div class="row">1
	<div class="col-md-4 panel">
		<h4 class="panel-heading">List Of Orders for Day</h4>
		<hr>
		<div class="table-responsive panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>OrderId</th>
						<th>Customer</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>194646</td>
						<td>Ram Singh</td>
					</tr>
					<tr>
						<td>194647</td>
						<td>Shyam narayan</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4 panel">
	</div>
	<div class="col-md-4 panel">
	</div>
</div>
<div class="row">
	<div class="col-md-4 panel">
	</div>
	<div class="col-md-4 panel">
	</div>
	<div class="col-md-4 panel">
	</div>
</div>