			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<span class="navbar-brand" href="#">List of Order</span>
				<span class="navbar-brand">
				<input type="search" placeholder="search orders" class="form-control"/>
				</span>
				<ul class="nav navbar-nav pull-right">
					<li><a href="#/createOrder">
					<button class="btn btn-primary">Create Order</button>
					</a>
					</li>
				</ul>
			</nav>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>S.No.</th>
							<th>OrderID</th>
							<th>Customer Name</th>
							<th>Product Name</th>
							<th>Quantity</th>
							<th>Date</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
         					<td>0822IT111086</td>
        					<td>Bajaj Fans</td>
							<td>Fan</td>
							<td>5000</td>
							<td>12/Dec/2015</td>
							<td>processing</td>
						</tr>
					</tbody>
				</table>
			</div>
