<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<span class="navbar-brand" href="#">List of Order</span>
				<span class="navbar-brand">
				<input type="search" placeholder="search products" class="form-control"/>
				</span>
				<ul class="nav navbar-nav pull-right">
					<li><a href="#/ordereditems">
					<button class="btn btn-primary">Order Items</button>
					</a>
					</li>
				</ul>
			</nav>
<div class="col-md-12">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ProductID</th>
				<th>Brand</th>
				<th>ProductName</th>
				<th>Price</th>
				<th>Select Product</th>
				<th>Quantity</th>
				<th>Inventory</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
			<tr>
				<td>QA1132</td>
				<td>Samsung</td>
				<td>Smart Watch</td>
				<td>100$</td>
				<td><input type="checkbox"></td>
				<td><input type="text" pattern="[0-9]"></td>
				<td>50</td>
			</tr>
		</tbody>
	</table>
</div>
