<div data-ng-controller="createOrder">
<div class="row">
	<div class="col-md-3 panel panel-success" data-ng-hide="cid" ng-hide="ordered">
		<div class="panel-heading" >Create  Order
		</div>
		<div class="panel-body">
			<input type="text" class="input-sm" id="" placeholder="Enter Customer Name">
			<blockquote>Or</blockquote>
			<a href="#/createCustomer"><button class="btn btn-info">
				<span class="glyphicon glyphicon-plus"></span>Create Customer</button></a>
				<br>
				<br>
				<button class="btn btn-warning btn-primary" data-ng-click="setCustId(true)">Choose</button>
			</a>
		</div>
	</div>
<div class="col-md-9 panel panel-success" ng-hide="address">
<div class=" panel-heading">
Ordered Items
</div>
<div class="panel-body">
<table class="table table-hover">
<tr>
	<td>Product ID</td>
	<td>Product Name</td>
	<td>Quantity</td>
	<td>Unit Price</td>
	<td>Total Price</td>
	<td>Action</td>
</tr>
<tr ng-repeat="product in products">
	<td>{{product.id}}</td>
	<td>{{product.name}}</td>
	<td>{{product.qty}}</td>
	<td>Rs{{product.unit}}</td>
	<td>Rs{{product.total}}</td>
	<td><button class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span></button></td>
</tr>
<tr>
	<td><input type="text" data-ng-model="id" class="form-control" placeholder="Product Id"></td>
	<td><input type="text" data-ng-model="name" class="form-control" placeholder="Product Name"></td>
	<td><input type="text" data-ng-model="qty" class="form-control" placeholder="Quantity"></td>
	<td><input type="text" data-ng-model="unit" class="form-control" value="3000"></td>
	<td><input type="text" data-ng-model="total" class="form-control" value="{{qty*unit}}"></td>
	<td><button class="btn btn-primary" data-ng-click="addItem()" ><span class="glyphicon glyphicon-plus"></span></button></td>
</tr>
</table>
<button data-ng-click="setAddress()" class="btn btn-warning btn-primary">Enter Address</button>
</div>
</div>
</div>

<div class="panel panel-success">
<div class="panel-heading">
Address Details
</div>
<div class="panel-body">
<h4>Shipping Location</h4>
<form action="" method="POST" class="form-inline" role="form">
<div class="form-group">
	<input type="email" class="form-control" placeholder="State">
</div>
<div class="form-group">
	<input type="email" class="form-control" placeholder="City">
</div>
<div class="form-group">
	<input type="email" class="form-control" placeholder="Street Address">
</div>
<button type="submit" class="btn btn-warning btn-primary">Submit</button>
</form>
<button class="btn  btn-success">Finalized order</button>
</div>
</div>