<div class="row">
	<div class="col-md-12">
		<div class="col-md-6 panel panel-info">
			<span class="panel-heading">Order Detail </span>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Order Name :</dt><dd> Order 1</dd>
					<dt>Status History :</dt><dd>
					<ul>
						<li>Current Status- Completed</li>
						<li>Completed -8/17/09 2:57:02 PM</li>
						<li>Approved - 8/17/09 2:56:46 PM</li>
						<li>Created - 8/17/09 2:56:44 PM</li>
					</ul>
					</dd>
					<dt class="labeldetail">Date Ordered :</dt><dd> 8/3/2009</dd>
					<dt class="labeldetail">Invoice :</dt><dd> Yes</dd>
				</dl>
			</div>
		</div>
		<div class="col-md-6 panel panel-info">
			<span class="panel-heading">Contact Information</span>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt class="labeldetail">Full Name :</dt><dd>Shivaji rao bhosle</dd>
					<dt class="labeldetail">Contact Number :</dt><dd> +91-9827131331</dd>
					<dt class="labeldetail">Billing Address :</dt>							<dd>
					Demo Customer 	<br> 2004 Factory Blvd
					Orem, <br>UT 84057
					United States
					</dd>
					</dt>
					<dt class="labeldetail">Order Notification :</dt><dd> yashdeeph709@gmail.com</dd>
					<dt class="labeldetail">Shipping Address :</dt><dd> 148,Shastri Nagar Ratlam M.P.</dd>
				</dl>
			</div>
		</form>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-6 panel panel-info">
	<span class="panel-heading">Payment Information </span>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>Mode :</dt><dd>Debit Card</dd>
					<dt>Card Number :</dt><dd> **********0425</dd>
					<dt>Owner Name :</dt><dd> Minesh Choudhary</dd>
					<dt>CVV :</dt><dd> </dd>
					<dt>Expiry Date :</dt><dd> 05/2033</dd>
				</dl>
			</div>
		</form>
	</div>
	<div class="col-md-6 panel panel-info">
			<span class="panel-heading">Shipping Information</span>
			<div class="panel-body">
				<br>
				<br>
				<center><button class="btn btn-primary"><span class="glyphicon glyphicon-plane"></span>  Track Shipment</button></center>
			</div>
		</form>
	</div>
	
</div>