<div class="col-md-12">
	<div class="col-md-3 panel">
		<span class="panel-heading"><b>Samsung-Smartwatch</b></span>
		<br>
		<br>
		<ul>
			<li>Unit Price:200</li>
			<li>Quantity:100</li>
			<li>Total Price:200</li>
		</ul>
	</div>
	<div class="col-md-3 panel">
		<span class="panel-heading"><b>Samsung-Smartwatch</b></span>
		<br>
		<br>
		<ul>
			<li>Unit Price:200</li>
			<li>Quantity:100</li>
			<li>Total Price:20000</li>
		</ul>
	</div>
	<div class="col-md-3 panel">
		<span class="panel-heading"><b>Samsung-Smartwatch</b></span>
		<br>
		<br>
		<ul>
			<li>Unit Price:200</li>
			<li>Quantity:100</li>
			<li>Total Price:20000</li>
		</ul>
	</div>
	<div class="col-md-3 panel">
		<span class="panel-heading"><b>Samsung-Smartwatch</b></span>
		<br>
		<br>
		<ul>
			<li>Unit Price:200</li>
			<li>Quantity:100</li>
			<li>Total Price:20000</li>
		</ul>
	</div>
	<div class="col-md-3 panel">
		<span class="panel-heading"><b>Samsung-Smartwatch</b></span>
		<br>
		<br>
		<ul>
			<li>Unit Price:200</li>
			<li>Quantity:100</li>
			<li>Total Price:20000</li>
		</ul>
	</div>
	<div class="col-md-3 panel">
		<span class="panel-heading"><b>Samsung-Smartwatch</b></span>
		<br>
		<br>
		<ul>
			<li>Unit Price:200</li>
			<li>Quantity:100</li>
			<li>Total Price:20000</li>
		</ul>
	</div>
	<br>
	<button class="btn btn-primary pull-right">
	<span class="glyphicon glyphicon-edit"></span>
	Edit Cart Items</button>
</div>
<div class="col-md-12">
	<form role="form">
		<legend>Ordered Items:</legend>
		<div class="form-group">
			<label for="">Delivery Date:</label>
			<input type="date" class="form-control"  placeholder="Product Stock">
		</div>

		<hr>
		<div class="row">
		<h3 class="pull-left">Cart Total:1200000$</h3>
		<h3 class="pull-right">Cart Quantity:600 unit</h3>
		</div>
		<br>
		<button type="submit" class="btn btn-primary">	<span class="glyphicon glyphicon-ok"></span>
Complete Order</button>
	</form>
</div>