<div class="row">
	<div class="col-md-12">
		<div class="col-md-6" id="orderdetail">
			<form role="form">
				<center><legend>Order Detail </legend></center>	
				<div class="form-group">
					<ul>
						<li class="labeldetail">Order Name : Order 1</li>
						<li class="labeldetail">Status History :
							<ul>
								<li>Current Status - Completed</li>
								<li>Completed - 8/17/09 2:57:02 PM</li>
								<li>Approved - 8/17/09 2:56:46 PM</li>
								<li>Created - 8/17/09 2:56:44 PM </li>
							</ul>
						</li>
						<li class="labeldetail">Date Ordered : 8/3/2009</li>
						<li class="labeldetail">Invoice : Yes</li>
					</ul>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<form role="form">
				<center><legend>Contact Information</legend></center>
				<div class="form-group">
					<ul>
						<li class="labeldetail">Full Name : Shivaji rao bhosle</li>
						<li class="labeldetail">Contact Number : +91-9827131331</li>
						<li class="labeldetail">Billing Address :							<ul>
								<li>Demo Customer 	<br> 2004 Factory Blvd
									Orem, <br>UT 84057 
									United States
								</li>
							</ul>
						</li>
						<li class="labeldetail">Order Notification : yashdeeph709@gmail.com</li>
						<li class="labeldetail">Shipping Address : 148,Shastri Nagar Ratlam M.P.</li>

				</ul>
			</div>
		</form>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-6">
		<form role="form">
			<center><legend>Payment Information </legend></center>
			<div class="form-group">
				<ul class="labeldetail">
					<li>Mode : Debit Card</li>
					<li>Card Number : **********0425</li>
					<li>Owner Name : Minesh Choudhary</li>
					<li>CVV : </li>
					<li>Expiry Date : 05/2033</li>
				</ul>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<form role="form">
			<center><legend>Shipping Information</legend></center>			
			<div class="form-group">
			<br>
			<br>
			<center><button class="btn btn-primary"><span class="glyphicon glyphicon-plane"></span>  Track Shipment</button></center>
			</div>
		</form>
	</div>
	
</div>